*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	/* Grid gap */
	--gap: 10px;
	/* Color scheme */
	--body-text: #333;
	--body-bg: #012f3c;
	--link-text: #ef3b3b;
	--link-text-hover: #333;
	--grid-name-text: #ef3b3b;
	--grid-title-text: #ef3b3b;
	--grid-nav-text: #fff;
	--grid-nav-bg: #0B7285;
	--grid-nav-text-hover: #fff;
	--grid-nav-bg-hover: #1f1f1f;
	--grid-text: #333;
	font-family: 'Josefin Sans', 'Roboto Mono', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	min-height: 600px;
	color: var(--body-text);
	background: var(--body-bg);
}

a {
	text-decoration: none;
	color: #ef3b3b;
	color: var(--link-text);
	outline: none;
}

a:hover,
a:focus {
	color: #333;
	color: var(--link-text-hover);
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ccd8e4;
	background: var(--body-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 10000;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	margin: -40px 0 0 -40px;
	pointer-events: none;
	background: #333;
	background: var(--body-text);
	transform-origin: 0% 50%;
	animation: loaderAnim 1.5s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	0% {
		transform: scale3d(0,1,1);
		transform-origin: 0% 50%;
	}
	50% {
		transform: scale3d(1,1,1);
		transform-origin: 0% 50%;
	}
	51% {
		transform: scale3d(1,1,1);
		transform-origin: 100% 50%;
	}
	100% {
		transform: scale3d(0,1,1);
		transform-origin: 100% 50%;
	}
}

.bg_rect {
    width: 64vw;
    height: 32vw;
    background-image: url(../img/mint_bg.jpg);
    background-position: center center;
    background-size: 1100px;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32vw;
    margin-top: -16vw;
}

/* Frame */
.frame {
	top: 0;
	left: 0;
	position: fixed;
	display: grid;
	width: 100%;
	height: 100vh;
	z-index: 100;
	pointer-events: none;
	padding: 2em;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 	"header header"
							"... ..."
							"... demos";
}

.no-js .frame {
	position: relative;
	display: block;
	height: auto;
}

.frame a {
	pointer-events: auto;
    font-size: 1em;
}

.frame .github {
    padding-top: 10px;
}

.message {
	background: #333;
	background: var(--body-text);
	color: #ccd8e4;
	color: var(--body-bg);
	text-align: center;
	padding: 1em;
	display: none;
}

/* Header */
.frame {
    vertical-align: middle;
}
.header-github {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	z-index: 100;
	grid-area: header;
	align-self: start;
}

.codrops-header__title {
	font-size: 1em;
	margin: 0;
	font-weight: 400;
}

.no-js .codrops-header {
	flex-direction: column;
}

.no-js .codrops-header__title {
	padding: 1em 0;
}
.github-Link {
    margin: -30px 0 0 0;
    vertical-align: middle;
}

/* Demos */
.demos {
	grid-area: demos;
	align-self: end;
	justify-self: end;
	display: block;
	text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -153px;
    margin-top: -8px;
}

.demo {
	margin: 0 0 0 2em;
}

.demo--current {
	color: #333;
	color: var(--link-text-hover);
}

/* Grid */
.grid {
	display: grid;
	width: calc(100% - 6em);
	height: calc(100vh - 6em);
	grid-auto-rows: calc((calc(100vh - 6em) / 30) - var(--gap));
	grid-auto-columns: calc((calc(100% - 6em) / 30) - var(--gap));
	justify-content: center;
	align-content: center;
	grid-gap: var(--gap);
	pointer-events: none;
}

.no-js .grid {
	margin: 0 0 15vh;
}

.js .grid {
	position: absolute;
	top: 3em;
	left: 3em;
	opacity: 0;
}

.js .grid--current {
	opacity: 1;
	pointer-events: auto;
}

.grid__item {
	position: relative;
	padding: 1em;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	transition: transform 0.2s ease-out;
}

.grid__item--name,
.grid__item--title,
.grid__item--text {
	pointer-events: none;
	padding: 0;
	margin: 0;
}

.grid__item--name,
.grid__item--title {
	line-height: 1.1;
	font-family: 'Fira Mono', monospace;

}

.grid__item--name {
	font-size: 4vw;
	color: #e4ca3c;
	/*color: var(--grid-name-text);*/
}

.grid__item--title {
	font-size: 3.5vh;
	text-transform: uppercase;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	color: #ef3b3b;
	color: var(--grid-title-text);
}

.grid__item--text {
	font-size: 1em;
	line-height: 1.2;
	display: flex;
	color: inherit;
	color: var(--grid-text);
}

.grid__item--nav {
	background: #442ef4;
	background: var(--grid-nav-bg);
	color: #fff;
	color: var(--grid-nav-text);
	display: flex;
	align-items: center;
	cursor: pointer;
}

.grid__item--nav:hover {
	background: #1f1f1f;
	background: var(--grid-nav-bg-hover);
	color: #fff;
	color: var(--grid-nav-text-hover);
}

.grid__item--nav-next .icon--nav-arrow {
	margin: 0 0 0 auto;
}

.grid__item--nav-prev .icon--nav-arrow {
	transform: rotate(180deg);
	margin: 0;
}

.no-js .grid__item--nav {
	display: none;
}

.grid__item--animateOut {
	animation: animateOut 0.8s cubic-bezier(0.7,0,0.3,1) forwards;
}

@keyframes animateOut {
	to {
		opacity: 0;
	}
}

.grid__item--animateIn {
	animation: animateIn 0.8s cubic-bezier(0.7,0,0.3,1) forwards;
}

@keyframes animateIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Layout 1 */
.grid--layout-1 .grid__item:first-child { grid-area: 4 / 7 / 17 / 15; background-image: url(../img/7.jpg); cursor: pointer;}
.grid--layout-1 .grid__item:nth-child(2) { grid-area: 17 / 8 / 26 / 15; background-image: url(../img/2.jpg); cursor: pointer;}
.grid--layout-1 .grid__item:nth-child(3) { grid-area: 17 / 15 / 24 / 20; background-image: url(../img/4.jpg); cursor: pointer;}
.grid--layout-1 .grid__item:nth-child(4) { grid-area: 14 / 15 / 2 / 23; background-image: url(../img/12.jpg); cursor: pointer;}
.grid--layout-1 .grid__item:nth-child(5) { grid-area: 17 / 24 / 23 / 30; background-image: url(../img/11.jpg); cursor: pointer;}
.grid--layout-1 .grid__item:nth-child(6) { grid-area: 4 / 31 / 16 / 23; background-image: url(../img/1.jpg); border-radius: 50%; cursor: pointer;}
.grid--layout-1 .grid__item:nth-child(7) { grid-area: 17 / 24 / 28 / 20; background-image: url(../img/22.jpg); cursor: pointer;}
.grid--layout-1 .grid__item--name { grid-area: 11 / 15 / 30 / 25; }
.grid--layout-1 .grid__item--title { grid-area: 1 / 6 / 29 / 29; }
.grid--layout-1 .grid__item--text { grid-area: 24 / 24 / 29 / 34; }
.grid--layout-1 .grid__item--nav-prev { grid-area: 20 / 3 / 15 / 8; }
.grid--layout-1 .grid__item--nav-next { grid-area: 24 / 15 / 29 / 20; }

/* Layout 2 */
.grid--layout-2 .grid__item:first-child { grid-area: 20 / 28 / 11 / 20; background-image: url(../img/8.jpg); cursor: pointer;}
.grid--layout-2 .grid__item:nth-child(2) { grid-area: 16 / 4 / 24 / 9; background-image: url(../img/5.jpg); cursor: pointer;}
.grid--layout-2 .grid__item:nth-child(3) { grid-area: 2 / 18 / 11 / 24; background-image: url(../img/6.jpg); cursor: pointer;}
.grid--layout-2 .grid__item:nth-child(4) { grid-area: 11 / 15 / 24 / 20; background-image: url(../img/9.jpg); cursor: pointer;}
.grid--layout-2 .grid__item:nth-child(5) { grid-area: 2 / 9 / 19 / 15; background-image: url(../img/10.jpg); cursor: pointer;}
.grid--layout-2 .grid__item:nth-child(6) { grid-area: 25 / 24 / 30 / 29; background-image: url(../img/18.jpg); cursor: pointer;}
.grid--layout-2 .grid__item:nth-child(7) { grid-area: 5 / 15 / 11 / 18; background-image: url(../img/19.jpg); }
.grid--layout-2 .grid__item:nth-child(9) { grid-area: 20 / 20 / 27 / 24; background-image: url(../img/23.jpg); }

.grid--layout-2 .grid__item--name { grid-area: 20 / 8 / 30 / 16; }
.grid--layout-2 .grid__item--title { grid-area: 1 / 3 / 19 / 29; }
.grid--layout-2 .grid__item--text { grid-area: 23 / 9 / 28 / 18; align-items: flex-end; text-align: left;}
.grid--layout-2 .grid__item--nav-prev { grid-area: 11 / 4 / 16 / 9; }
.grid--layout-2 .grid__item--nav-next { grid-area: 20 / 24 / 25 / 30; }

/* Layout 3 */
/*
.grid--layout-3 .grid__item:first-child { grid-area: 6 / 1 / 14 / 5; background-image: url(../img/1.jpg); }
.grid--layout-3 .grid__item:nth-child(2) { grid-area: 3 / 5 / 14 / 10; background-image: url(../img/2.jpg); }
.grid--layout-3 .grid__item:nth-child(3) { grid-area: 14 / 1 / 21 / 5; background-image: url(../img/12.jpg); }
.grid--layout-3 .grid__item:nth-child(4) { grid-area: 19 / 10 / 28 / 20; background-image: url(../img/4.jpg); }
.grid--layout-3 .grid__item:nth-child(5) { grid-area: 1 / 10 / 11 / 18; background-image: url(../img/5.jpg); }
.grid--layout-3 .grid__item:nth-child(6) { grid-area: 11 / 10 / 19 / 15; background-image: url(../img/14.jpg); }
.grid--layout-3 .grid__item:nth-child(7) { grid-area: 11 / 15 / 19 / 20; background-image: url(../img/7.jpg); }
.grid--layout-3 .grid__item:nth-child(8) { grid-area: 1 / 18 / 6 / 23; background-image: url(../img/8.jpg); }
.grid--layout-3 .grid__item:nth-child(9) { grid-area: 20 / 20 / 27 / 24; background-image: url(../img/9.jpg); }
.grid--layout-3 .grid__item:nth-child(10) { grid-area: 20 / 28 / 25 / 30; background-image: url(../img/10.jpg); }
.grid--layout-3 .grid__item:nth-child(11) { grid-area: 4 / 23 / 11 / 27; background-image: url(../img/11.jpg); }
.grid--layout-3 .grid__item:nth-child(12) { grid-area: 11 / 20 / 20	/ 30; background-image: url(../img/3.png); }
.grid--layout-3 .grid__item:nth-child(13) { grid-area: 20 / 24 / 26 / 28; background-image: url(../img/13.jpg); }
.grid--layout-3 .grid__item--name { grid-area: 15 / 16 / 30 / 23; }
.grid--layout-3 .grid__item--title { grid-area: 1 / 27 / 11 / 29; }
.grid--layout-3 .grid__item--text { grid-area: 19 / 5 / 30 / 10; text-align: right;}
.grid--layout-3 .grid__item--nav-prev { grid-area: 14 / 5 / 19 / 10; }
.grid--layout-3 .grid__item--nav-next { grid-area: 6 / 18 / 11 / 23; }
*/

/* Demo themes */

.demo-3 {
	--gap: 20px;
    --body-text: #495057;
    --body-bg: #060e33;
    --link-text: #F8F9FA;
    --link-text-hover: #f95422;
    --grid-name-text: #f95422;
    --grid-title-text: #38D9A9;
    --grid-nav-text: #000;
    --grid-nav-bg: #ADB5BD;
    --grid-nav-text-hover: #FA5252;
    --grid-nav-bg-hover: #38D9A9;
    --grid-text: #00bfb7;
}

.demo-3 div.grid__item:not(.grid__item--nav)::after {
    padding-top: 30px;
    color: #fff;
    text-align: center;
    font-size: 24px;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
}


.demo-3 .grid:not(.grid--animating) div.grid__item:not(.grid__item--nav):hover::after {
	opacity: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(56, 217, 169, 0.8);
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.demo-3 div.grid__item:hover .overlay {
  height: 15%;
  
}

.text {
  white-space: nowrap; 
  color: #F8F9FA;
  font-size: 18px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media screen and (max-width: 60em) {
	.message {
		display: block;
	}
	.frame {
		display: block;
		height: auto;
		position: relative;
		text-align: center;
	}
	.codrops-header {
		flex-direction: column;
	}
	.codrops-header__title {
		padding: 1em 0;
	}
	.github {
		margin: 0 auto;
	}
	.demos {
		padding: 1em 0 0;
	}
	.demo {
		margin: 0 0.5em;
	}
	main .grid {
		height: auto;
		top: auto !important;
		width: 100%;
		left: auto !important;
		padding: 0 2em;
		grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
		grid-auto-rows: auto !important;
		grid-auto-columns: auto !important;
		grid-gap: 1vw;
		margin: 0 0 5em;
	}

	.grid__item {
		min-height: 50px;
		grid-area: auto !important;
	}

	.grid__item br {
		content: '';
		display: none;
	}

	.grid__item--name,
	.grid__item--title,
	.grid__item--text {
		grid-column: 1 / -1 !important;
		justify-content: flex-start;
		min-height: 0;
		padding: 1vh 0;
		text-align: left !important;
	}

	.grid__item--name {
		grid-row: 1 / -1 !important;
	}

	.grid .grid__item--title {
		-webkit-writing-mode: horizontal-tb;
		writing-mode: horizontal-tb;
	}
}
